body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.days{
  color: brown;
}

.btnHover button:hover{
  background-color: green;
  color: #fff;
}


.nav-link {
  font-weight: 600;
  color: #fff;
  /* color: rgb(178, 29, 51) !important; */
  }

  .nav-link:hover {
      color: rgb(88, 13, 29) !important;
      }

  .tourist{
      font-weight: 800;
  }


.bg-orange{
background-color: #FF4800;
}
.bg-orange:hover{
background-color: #D93D00;
/* color: white; */
}

.text-orange, .text-orange:hover{
color: #FF4800;
}

.nav-link:hover{
background-color: #FF4800;
color: white;

}
.package{
color: black;
}