.nav-link {
  font-weight: 600;
  color: #fff;
  /* color: rgb(178, 29, 51) !important; */
  }

  .nav-link:hover {
      color: rgb(88, 13, 29) !important;
      }

  .tourist{
      font-weight: 800;
  }

/* .signIn{
  padding: 5px;
background-color: initial;
background-image: linear-gradient(-180deg, #FF7E31, #E62C01);
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
height: 35px;
line-height: 35px;
outline: 0;
overflow: hidden;
padding: 0 20px;
pointer-events: auto;
position: relative;
text-align: center;
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
vertical-align: top;
white-space: nowrap;
width: 100%;
z-index: 9;
border: 0;
transition: box-shadow .2s;
}

.signIn:hover {
box-shadow: rgba(253, 76, 0, 0.7) 0 3px 8px;
} */

.bg-orange{
background-color: #FF4800;
}
.bg-orange:hover{
background-color: #D93D00;
/* color: white; */
}

.text-orange, .text-orange:hover{
color: #FF4800;
}

.nav-link:hover{
background-color: #FF4800;
color: white;

}
.package{
color: black;
}